@import "tailwindcss";
@plugin "@iconify/tailwind4" {
 scale: 1.2;
}

@theme {
  --color-version-indigo-ink: #371768ff;
  --color-version-lavender-purple: #8b5ad7ff;
  --color-version-mauve: #d5bbfdff;
  --color-version-periwinkle: #e4d4feff;
  --color-version-white: #ffffffff;
  --drop-shadow-5xl: 0 100px 100px rgba(0, 0, 0, 0.25);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

:root {
    --background: #fafafa;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}